.services {
  padding-top: 0;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
//.services-img {

.work-img {
  display: flex;
  gap: 30px;
}

.work-img-item {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(47, 48, 58, 0.8);
  backdrop-filter: #2f303acc;
}

.overlay__text {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}
